body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

.green-background {
    background-color: green;
    height: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.yellow-background {
    background-color: yellow;
    align-items: center;
    justify-content: center;
    flex: 1 0 200px;
    display: flex;
}

.pink-background {
    background-color: fuchsia;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-background {
    background-color: blue;
    display: flex;
    height: 180px;
    width: 630px;
    align-items: center;
    justify-content: center;
}

.red-background {
    background-color: red;
    display: flex;
    height: 90px;
    width: 330px;
    justify-content: center;
    align-items: center;
}

.lightgreen-background {
    background-color: lightgreen;
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
}




.purple-background {
    background-color: purple;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;

}
#top-container{
    display: flex;
    justify-content: space-around;


}

#middle-container{
    flex-grow: 1;
    display: flex;

}